/*Email*/
@font-face {
  font-family: "iconfont"; /* Project id 3365689 */
  /* Color fonts */
  src: 
       url('//at.alicdn.com/t/font_3365689_qsys9ujbz9n.woff2?t=1651132664045') format('woff2'),
       url('//at.alicdn.com/t/font_3365689_qsys9ujbz9n.woff?t=1651132664045') format('woff'),
       url('//at.alicdn.com/t/font_3365689_qsys9ujbz9n.ttf?t=1651132664045') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-email:before {
  content: "\e634";
}

/*bilibili*/
@font-face {
  font-family: "iconfont"; /* Project id 3252791 */
  /* Color fonts */
  src: 
       url('//at.alicdn.com/t/font_3252791_9g1f544ko95.woff2?t=1651132098477') format('woff2'),
       url('//at.alicdn.com/t/font_3252791_9g1f544ko95.woff?t=1651132098477') format('woff'),
       url('//at.alicdn.com/t/font_3252791_9g1f544ko95.ttf?t=1651132098477') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon--bilibili:before {
  content: "\e65b";
}

/*qq*/
@font-face {
  font-family: "iconfont"; /* Project id 3365982 */
  /* Color fonts */
  src: 
       url('//at.alicdn.com/t/font_3365982_wuqttk6wpf.woff2?t=1651132508841') format('woff2'),
       url('//at.alicdn.com/t/font_3365982_wuqttk6wpf.woff?t=1651132508841') format('woff'),
       url('//at.alicdn.com/t/font_3365982_wuqttk6wpf.ttf?t=1651132508841') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-QQ:before {
  content: "\e658";
}


/*公众号*/
@font-face {
  font-family: "iconfont"; /* Project id 3366013 */
  /* Color fonts */
  src: 
       url('//at.alicdn.com/t/font_3366013_m2s7k6iw5q.woff2?t=1651133007919') format('woff2'),
       url('//at.alicdn.com/t/font_3366013_m2s7k6iw5q.woff?t=1651133007919') format('woff'),
       url('//at.alicdn.com/t/font_3366013_m2s7k6iw5q.ttf?t=1651133007919') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gongzhonghao:before {
  content: "\e612";
}

/*CSDN*/
@font-face {
  font-family: "iconfont"; /* Project id 3366002 */
  /* Color fonts */
  src: 
       url('//at.alicdn.com/t/font_3366002_i7tim9zwrss.woff2?t=1651132915647') format('woff2'),
       url('//at.alicdn.com/t/font_3366002_i7tim9zwrss.woff?t=1651132915647') format('woff'),
       url('//at.alicdn.com/t/font_3366002_i7tim9zwrss.ttf?t=1651132915647') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-csdn:before {
  content: "\e600";
}

/*知乎*/
@font-face {
  font-family: "iconfont"; /* Project id 3366017 */
  /* Color fonts */
  src: 
       url('//at.alicdn.com/t/font_3366017_foy6k18259l.woff2?t=1651134558757') format('woff2'),
       url('//at.alicdn.com/t/font_3366017_foy6k18259l.woff?t=1651134558757') format('woff'),
       url('//at.alicdn.com/t/font_3366017_foy6k18259l.ttf?t=1651134558757') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhihu:before {
  content: "\e675";
}
/*首页字体修改*/
@font-face {
    font-family:'arzhu';
    src:url('https://cdn.jsdelivr.net/gh/lgl1227/CDN@master/thumb/Candy.ttf'); /* 修改成你的字体 */
    font-display:swap
}
body {
   font-family: 'arzhu';
}
h1#site-title {
    font-family:arzhu!important
}
span#subtitle {
    font-family:arzhu!important
}
a#site-name {
    font-family:arzhu!important
}
/* 滚动条 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(73, 177, 245, 0.2);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: #49b1f5;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.4) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0.4) 75%,
    transparent 75%,
    transparent
  );
  border-radius: 2em;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-moz-selection {
  color: #fff;
  background-color: #49b1f5;
}
